<head>
    <!-- USE DEVELOPMENT VERSION -->
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  
    <title>Proyecto de Desarrollo de Sotfware - Proyecto 2</title>
  </head>

<div id="topbar">
    <div>
        <h1 style="text-decoration: underline;">
        <img src="{% static '/images/logouandes.png' %}" width="168"
        height="67">
        Intelligent Tutoring System - Estatica
        </h1>
    </div>
    <div>
        {% if tasks_list %}
            <ul>
            {% for task in tasks_list %}
                <p>{{ task.description }}</p>
            {% endfor %}
            </ul>
        {% else %}
            <p>&nbsp No hay tareas</p>
        {% endif %}
    </div>
</div>