<html><head>
  <!-- USE DEVELOPMENT VERSION -->
  <script src="https://cdn.rawgit.com/konvajs/konva/2.0.3/konva.min.js"></script>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

  <title>Proyecto de Desarrollo de Sotfware - Proyecto 2</title>
</head>

<body>
  
  <div id="topbar">
    <div>
      <h1>
        <img src="{% static '/images/logouandes.png' %}" width="168"
        height="67">
        Intelligent Tutoring System - Estatica
      </h1>
    </div>
    <button id="btnCreateRectangle" class="btn-primary-blue">Agregar viga</button>
    <button id="btnCreateSupport" class="btn-primary-blue">Agregar apoyo </button>
    <button id="btnCreateArrow" class="btn-primary-blue">Agregar carga puntual </button>
  </div>
  <div id="container">
    <div class="konvajs-content" role="presentation" style="position: relative; width: 1280px; height: 1313px;">
      <canvas width="2560" height="2626" style="padding: 0px; margin: 0px; border: 0px; background-color: transparent; position: absolute; top: 0px; left: 0px; width: 1280px; height: 1313px; background-position: initial initial; background-repeat: initial initial;">
        <button id="btnCreateRectangle" class="btn-primary-blue">Button Text</button>
      </canvas>
    </div>
  </div>

  <script src="{% static '/js/base.js' %}"></script>

  {% block js_script %}
  {% endblock %}
</body></html>